/******************** UNIVERSAL ELEMENTS ********************/

.btn-xl {
    padding: 0.8rem 1.6rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    margin: auto;
}

.progress {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 100;
}

hr {
    margin: 1rem 0 1.25rem 0;
}


/******************** QUIZ ELEMENTS ********************/

#quiz-nav {
    margin-top: 1rem;
}

.quiz-pose img {
    max-height: 110px;
    max-width: 100%;
    margin: auto;
}

.quiz-label {
    text-align: center;
    display: inline-block;
    padding: .4rem .75rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(181, 166, 212);
    margin-right: 10px;
    margin-top: 0.5rem;
    background-color: white;
    z-index: 2;
}

.quiz-label:hover {
    background-color: rgb(217, 210, 232);
}

.quiz-label.locked:hover {
    background-color: white;
}

.quiz-label.dropped {
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
}

.quiz-label.correct {
    border: 2px solid #28a745;
}

.quiz-label.incorrect {
    border: 2px solid #DC3553;
}

.quiz-label-drop {
    background-color: whitesmoke;
    border-radius: 0.5rem;
    border: 2px solid whitesmoke;
    height: calc(2.5rem + 4px);
    width: 100%;
    margin-bottom: 0.25rem;
}

.quiz-label-drop.incorrect {
    border: 2px solid #DC3553;
}

.quiz-img-drag {
    max-width: 100%;
    padding: .5rem .5rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(181, 166, 212);
    aspect-ratio: 1;
}

.quiz-img-drag img {
    max-width: 100%;
    margin: auto;
}

.quiz-img-drag.correct {
    border: 2px solid #28a745;
}

.quiz-img-drag.incorrect {
    border: 2px solid #DC3553;
}

.quiz-img-drop {
    aspect-ratio: 1;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    font-size: 1.25rem;
}

.quiz-img-drop.incorrect {
    border: 2px solid #DC3553;
}

.quiz-img-drop.ui-draggable-active p {
    display: inline;
}

.quiz-img-drop.taken p {
    display: none;
}

.align-middle {
    position: relative;
    top: 50%;
    transform: translateY(calc(-50%));
}

#matching-options {
    min-height: 3rem;
}

#ordering-responses {
    padding: 0 5%;
}

#ordering-options {
    min-height: 3rem;
    padding: 0 5%;
}

.svg {
    max-width: 50%;
    max-height: 400px;
}

.st1.hover {
    fill: #ccc6e1;
    cursor: pointer;
}

.st1.selected {
    fill: #AFA6D1;
}

.st1.incorrect {
    fill: rgb(245, 180, 185);
}

.st1.missed {
    fill: rgb(250, 229, 157);
}

.st1.correct {
    fill: rgb(159, 218, 174);
}

.muscle-label {
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: .4rem .75rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(181, 166, 212);
    margin-right: 10px;
    margin-top: 0.5rem;
    background-color: white;
    z-index: 2;
}

.muscle-side-pose {
    max-width: 100%;
    max-height: 150px;
    padding: .75rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(181, 166, 212);
}

.ui-draggable {
    cursor: move;
}

.ui-draggable-dragging {
    z-index: 10;
}

.ui-droppable-hover {
    background-color: rgb(228, 228, 228);
}

.learn-more{
    padding-top: 20px;
}


/******************** COLORS ********************/

.bg-purple {
    background-color: rgb(181, 166, 212);
}

.bg-light-purple {
    background-color: rgb(217, 210, 232);
}

.btn-purple {
    color: white;
    background-color: rgb(181, 166, 212);
    border-color: rgb(181, 166, 212);
}

.btn-purple:hover {
    color: white;
    background-color: rgb(142, 125, 192);
    border-color: rgb(142, 125, 192);
}


/******************** FONTS & TEXT ********************/

body {
    font-family: 'Lato', sans-serif;
}

.nav-link {
    font-size: 1.25rem;
}

.title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 56pt;
    text-align: center;
    color: rgb(181, 166, 212);
}

.quiz-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20pt;
    color: rgb(181, 166, 212);
    margin-bottom: 0.25rem;
}

.quiz-question {
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

.description-title {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    font-weight: bold;
}

.bullets {
    padding-left: 20px;
    margin-bottom: 1px;
}

/******************** LEARN ELEMENTS ********************/
.muscleimg{
    padding-left: 90px;
    padding-top: 30px;
    width: 60%
}

.learn-title{
    margin-top: 130px !important;
    margin-left: 70px;
    font-size: 23px;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(110, 109, 109);
    font-family: 'Playfair Display', serif;

}

.learn-bullets{
    margin-top: 10px;
    margin-left:100px;
    font-size: 18px;
    color: rgb(110, 109, 109);
    font-family: 'Lato', sans-serif;


}

.muscle-title{
    margin-top: 100px;
    margin-left: 70px;
    font-size: 23px;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(110, 109, 109);
    font-family: 'Playfair Display', serif;

}

.padding{
    padding-bottom: 50px;
}

.progressNum{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20pt;
    color: rgb(181, 166, 212);
    margin-bottom: 0.25rem;
}

#next-btn{
  margin-bottom: 30px;
}

.normal_p{
  margin-top: 0px;
}