/******************** UNIVERSAL ELEMENTS ********************/

.btn-xl {
    padding: 0.8rem 1.6rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    margin: auto;
}
.progress {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 100;
}

/******************** QUIZ ELEMENTS ********************/

.quiz-pose img {
    max-height: 120px;
    max-width: 100%;
    margin: auto;
}
.quiz-label {
    text-align: center;
    display: inline-block;
    padding: .4rem .75rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(181, 166, 212);
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    margin-right: 10px;
    background-color: white;
    z-index: 2;
}
.quiz-label:hover {
    background-color: rgb(217,210,232);
}
.quiz-label.locked:hover {
    background-color: white;
}
.quiz-label.dropped {
    margin: 0;
    width: 100%;
    top: 0; 
    left: 0;
}
.quiz-label.correct {
    border: 2px solid #28a745;
}
.quiz-label.incorrect {
    border: 2px solid #DC3553;
}
.quiz-label-drop {
    background-color: whitesmoke;
    border-radius: 0.5rem;
    border: 2px solid whitesmoke;
    height: calc(2.5rem + 4px);
    width: 100%;
    margin-bottom: 0.25rem;
}
.quiz-label-drop.incorrect {
    border: 2px solid #DC3553;
}
.quiz-img-drag {
    max-width: 100%;
    padding: .5rem .5rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(181, 166, 212);
    aspect-ratio: 1;
}
.quiz-img-drag img {
    max-width: 100%;
    margin: auto;
}
.quiz-img-drop {
    aspect-ratio: 1;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    font-size: 1.25rem;
}
.quiz-img-drop.taken p {
    display: none;
}
.quiz-img-drop.ui-draggable-active p {
    display: inline;
}
.align-middle {
    position: relative;
    top: 50%;
    transform: translateY(calc(-50%));
}
hr {
    margin: 1.5rem 0;
}
#matching-options {
    min-height: 3rem;
}
#ordering-row {
    padding: 0 0%;
}
#ordering-options {
    min-height: 3rem;
    padding: 0 5%;
}
.ui-draggable {
    cursor: move;
}
.ui-draggable-dragging {
    z-index: 10;
}
.ui-droppable-hover  {
    background-color: rgb(228, 228, 228);
}


/******************** COLORS ********************/

.bg-purple {
    background-color: rgb(181, 166, 212);
}
.bg-light-purple {
    background-color: rgb(217,210,232);
}
.btn-purple {
    color: white;
    background-color: rgb(181, 166, 212);
    border-color: rgb(181, 166, 212);
}
.btn-purple:hover{
    color: white;
    background-color: rgb(142,125,192);
    border-color: rgb(142,125,192);
}

/******************** FONTS & TEXT ********************/

body {
    font-family: 'Lato', sans-serif;
}
.nav-link {
    font-size: 1.25rem;
}
.title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 56pt;
    text-align: center;
    color: rgb(181, 166, 212);
}
.quiz-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20pt;
    color: rgb(181, 166, 212);
    margin-bottom: 1rem;
}
.quiz-question {
    font-size: 2rem;
}
