{% extends "layout.html" %}

{% block content %}
<div class="container">  
    <div class="row">
        <div class="title">
            Learning the Sun Salutation Routine
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md text-center">
            <button type="button" id="home-learn" class="btn btn-purple btn-xl">Learn</button>
        </div>
        <div class="col-md text-center">
            <button type="button" id="home-quiz" class="btn btn-purple btn-xl">Quiz</button>
        </div>
    </div>
</div>


<script src="/static/home.js"></script>

{% endblock %}
